.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  background-color: #ffffff; /* Fondo blanco */
}

.about-content {
  flex: 1;
  padding-right: 20px;
}

.about-title {
  font-size: 2.7rem;
  color: #1e3a8a; /* Texto azul */
  margin-bottom: 20px;
}

.about-text {
  font-size: 1.3rem;
  color: #1e3a8a; /* Texto azul */
  text-align: justify;
  padding-right: 20px;
}

.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding: 20px;
    margin-top: 80px; /* Agregar margen superior para evitar que el título quede oculto */
  }

  .about-content {
    padding-right: 0;
    text-align: center;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
    padding-right: 0;
  }

  .about-image-container {
    margin-top: 20px;
  }
}