/*********** ESTILOS GLOBALES ************/

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes */
@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('/fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body{
  font-family: 'Outfit', sans-serif;
}

.page-with-header-offset {
  padding-top: 128px;
  padding-bottom: 48px;
}

@media (max-width: 768px) {
  .page-with-header-offset {
    padding-top: 108px;
  }
}

/* Colores */


.text-blue-epson {
    color: #003399; /* Azul tipo Epson */
  }
